<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <!-- <h1>Welcome to Blog-Pages</h1> -->

      <% @post.each do |p| %>
      <div class="card">
        <ul><h1><%= p.title %></h1></ul>
          <ul><%= p.body %></ul>
          <ul><small><%= p.created_at.strftime("%A, %d %b %Y %l:%M %p") %></small></ul>
      </div>

          <% end %>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div> -->

